@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,400,600|Merriweather:700');
:root {
  --a-link: rgb(0, 180, 135); 
}

html {  font-family: -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    'helvetica neue', helvetica,
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif; }


/* FURTHER TACHYONS AND BROWSER RESETS ......... */

  textarea:focus, input:focus { outline: none; }


/* unvisited link */
  a:link { outline: none; outline: 0; border: 0; text-decoration: none;}
  /* visited link */
  a:visited { outline: none; outline: 0; border: 0;}
  /* mouse over link */
  a:hover { outline: none; outline: 0; border: 0;}
  /* selected link */
  a:active { outline: none; outline: 0; border: 0; }
  /* focus link */
  a:link:focus { outline: none; outline: 0; border: 0;}

 /* Button and Btn resets */
  button, button:focus, button:active, 
  .btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
      outline: none; outline: 0; border: 0;
  }

  input::-moz-focus-inner { border: 0;}

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--a-link);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--a-link);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--a-link);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: var(--a-link);
  }


  /* FONT STYLEING FOR ARTICLES  */
  article { width: 100%; }
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6,
  article p,
  article ul,
  article ol,
  article li { 
    max-width:664px; 
    margin: 0 auto; 
    padding-left: 30px; padding-right: 30px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  article ul { padding-left: 50px;}
  article ol { padding-left: 50px;}

  article blockquote
  {
    max-width:600px; border-left: 3px solid  rgb(230, 99, 59); 
    margin:0 auto; 
    padding-left: .5em; 
  }

  article blockquote p, 
  article blockquote h1, 
  article blockquote h2, 
  article blockquote h3 { 
    font-family : 'avenir'; color: rgb(100,100,100); font-weight: 400;
    margin-top:3em; 
    margin-bottom:0em; 
  }

  article blockquote + p > a { font-family : 'avenir'; color: var(--a-link); font-weight: 400; }

  /* FOOTNOTES AND CITATIONS  */
  article .footnotes {   margin-top:4em; margin-bottom:3em;  }
  article .footnotes hr {  
    max-width:600px;
    margin: 0 auto;
    margin-top:3em;  
    margin-bottom:2em;      
    border:0;
    width:100%;
    height:1px;
    background: var(--a-link); }
  article .footnotes ol { font-family : 'avenir'; padding-right: 0;}
  article .footnotes ol li { font-family : 'avenir'; padding-left: 0;}
  article .footnotes li > p { font-family : 'avenir'; display: inline; padding-right: 0; padding-left: 0; }
 


  /* FONT FAMILY  */
  .logo-font { font-family: 'Merriweather', serif; }

  h1,h2, h3 { font-family: 'Noto Serif SC'; letter-spacing: .02em;}

  article p, article li { 
    margin-top: 1.5em; 
    margin-bottom: 1em;
    font-size: 1.01rem; line-height: 1.7rem;
    font-family: 'Noto Serif SC'; 
    color: rgb(30,30,30); 
    letter-spacing: .01em;
  }

  article li { 
    padding-left: 1em;
    margin-bottom: 0em;
    margin-top: .75em; 
  }

  /* FONT FAMILY COLURS LINKS AND HEADINGS ETC */
  article a { 
    color: var(--a-link);
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 1rem;
    word-wrap: break-word;
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 { 
    margin-top: 2.2em; 
    margin-bottom:1em; 
    color: rgb(40,40,40); 
    letter-spacing: .01em;
    line-height: 1.7em;
  }


  @media screen and (max-width: 30em) {
    article blockquote {
    margin:0 auto; 
    margin-left: 30px;
    }
    article blockquote p {
      padding-left: .4em; 
      }
  }



    /**
    * TACHYON RESETS FOR CSS AND MEDIA QUERIES
    *      ________            ______
    *      ___  __/_____ _________  /______  ______________________
    *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
    *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
    *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
    *                                 /____/
    */ 


/* FLEX STYLEING FOR ARTICLES  */
.flex-reverse { flex-direction: row-reverse; }
.flex-hv-center {  
  display: flex;
  justify-content: center;   
}


/* STYLES FOR TEXT */
.tracked-sm { letter-spacing: .05em; }
.tracked-mega { letter-spacing: .3em; }
.shadow-5 { box-shadow: 0px 8px 25px 0 rgba( 0, 0, 0, .05 ); }
.text-shadow { text-shadow: 2px 2px 15px #000; }


/* POSITIONS TOP LEFT RIGHT */
.top-3 { top: 3rem; }
.top-4 { top: 4rem; }
.top-5 { top: 5rem; }
.top-6 { top: 6rem; }
.top-7 { top: 7rem; }
.top-8 { top: 8rem; }
.top-9 { top: 9rem; }

.left-3 { left: 3rem; }
.left-4 { left: 4rem; }
.left-5 { left: 5rem; }
.left-6 { left: 6rem; }

/* SQUARE WIDTH HEIGHT */
.square-1 { width: 1rem; height: 1rem; }
.square-1-5 { width: 1.5rem; height: 1.5rem; }
.square-2 { width: 2rem; height: 2rem; }


/* VH_HEIGHT ADDITION */
.vh-20 { height: 20vh; }
.vh-30 { height: 30vh; }
.vh-40 { height: 40vh; }
.vh-50 { height: 50vh; }
.vh-60 { height: 60vh; }
.vh-70 { height: 70vh; }
.vh-80 { height: 80vh; }
.vh-85 { height: 85vh; }

.min-vh-40 { min-height: 40vh;}
.min-vh-50 { min-height: 50vh;}
.min-vh-60 { min-height: 60vh;}
.min-vh-70 { min-height: 70vh;}
.min-vh-80 { min-height: 80vh;}
.min-vh-90 { min-height: 90vh;}
.min-vh-100 { min-height: 100vh;}


/* Max Width Scale */
.mw9 { max-width: 80rem; }


.gatsby-image-wrapper::after { background-position: top right; }

@media screen and (min-width: 30em) {

  /* HERO IMAGE FLUID  */
 .heroImgFluid { height: 400px; }


  .flex-reverse-ns { flex-direction: row-reverse; }
  .vh-20-ns { height: 20vh; }
  .vh-30-ns { height: 30vh; }
  .vh-40-ns { height: 40vh; }
  .vh-50-ns { height: 50vh; }
  .vh-60-ns { height: 60vh; }
  .vh-70-ns { height: 70vh; }
  .vh-80-ns { height: 80vh; }
  .vh-85-ns { height: 85vh; }
  .min-vh-40-ns { min-height: 40vh;}
  .min-vh-50-ns { min-height: 50vh;}
  .min-vh-60-ns { min-height: 60vh;}
  .min-vh-70-ns { min-height: 70vh;}
  .min-vh-80-ns { min-height: 80vh;}
  .min-vh-90-ns { min-height: 90vh;}
  .min-vh-100-ns { min-height: 100vh;}
  .bg-transparent-ns { background-color: transparent }
}
@media screen and (min-width: 30em) and (max-width: 60em) {

    /* HERO IMAGE FLUID  */
    .heroImgFluid { height: 500px; }

  .flex-reverse-m { flex-direction: row-reverse; }
  .vh-20-m { height: 20vh; }
  .vh-30-m { height: 30vh; }
  .vh-40-m { height: 40vh; }
  .vh-50-m { height: 50vh; }
  .vh-60-m { height: 60vh; }
  .vh-70-m { height: 70vh; }
  .vh-80-m { height: 80vh; }
  .vh-85-m { height: 85vh; }
  .min-vh-40-m { min-height: 40vh;}
  .min-vh-50-m { min-height: 50vh;}
  .min-vh-60-m { min-height: 60vh;}
  .min-vh-70-m { min-height: 70vh;}
  .min-vh-80-m { min-height: 80vh;}
  .min-vh-90-m { min-height: 90vh;}
  .min-vh-100-m { min-height: 100vh;}
  .bg-transparente-m { background-color: transparent }
}
@media screen and (min-width: 60em) {

  /* HERO IMAGE FLUID  */
  .heroImgFluid { height: 700px; }

  .flex-reverse-l { flex-direction: row-reverse; }
  .vh-20-l { height: 20vh; }
  .vh-30-l { height: 30vh; }
  .vh-40-l { height: 40vh; }
  .vh-50-l { height: 50vh; }
  .vh-60-l { height: 60vh; }
  .vh-70-l { height: 70vh; }
  .vh-80-l { height: 80vh; }
  .vh-85-l { height: 85vh; }
  .min-vh-40-l{ min-height: 40vh;}
  .min-vh-50-l{ min-height: 50vh;}
  .min-vh-60-l{ min-height: 60vh;}
  .min-vh-70-l{ min-height: 70vh;}
  .min-vh-80-l{ min-height: 80vh;}
  .min-vh-90-l{ min-height: 90vh;}
  .min-vh-100-l { min-height: 100vh;}
  .bg-transparente-m { background-color: transparent }
}




 /**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: rgb(34, 31, 65);
  border-radius: 0;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color:  rgb(34, 31, 65);
  margin: 0 auto;
  padding-left: 30px;;
  overflow: initial;
  max-width:600px; 
}


/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}





  


